body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(240 248, 255, 0.404);
  margin: 0;
}

nav {
  background-color: rgba(0, 72, 90, 0.575);
  color: aliceblue;
}

