<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>All Characters</h1>
    <% if(chars.length > 0){%>
        <ul style="list-style: none;">
        <% chars.forEach((char) => { %>
                <li><strong> Name: </strong><%=char.name.toUpperCase()%> </a> </li>
                <li> <strong> Character Class</strong> <%=char.class%> <br>
                <li> <strong> Character Level</strong> <%=char.level%> <br>
                <hr>
    <% }); %>
    </ul>
    <%} else{ %>
        <h3>No characters created yet</h3>
    <%}%>
</body>
</html>